[submodule "VisionAI-lab.github.io"]
	path = VisionAI-lab.github.io
	url = https://github.com/VisionAI-lab/VisionAI-lab.github.io
	branch = master
[submodule "public/visionai-lab.github.io"]
	path = public/visionai-lab.github.io
	url = https://github.com/visionai-lab/visionai-lab.github.io
	branch = master
[submodule "visionai-lab.github.io"]
	path = visionai-lab.github.io
	url = https://github.com/visionai-lab/visionai-lab.github.io
	branch = master
